*{
	margin: 0;
	padding: 0;
}
#textcss{
	font-family: 'Merriweather', serif;
	color: red;
	letter-spacing: 3px;
	word-spacing: 3px;
/*	direction: ltr;
	text-indent: 10px;  */
	text-align: center;
	text-transform: uppercase;
}